/***************** TAG selector *****************/
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
/* h1,h2,h3{
    font-family: 'Montserrat-Bold', sans-serif;
} space for in this case is optional     */ 
h1, h2, h3{
    font-family: 'Montserrat-Bold', sans-serif;
}
/* Headings */
/* for h1 */
.first-heading{
    /* font-family: 'Montserrat-Bold', sans-serif; */
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.5;    
}
/* for h2 */
.second-heading{  
    font-size: 3rem;
    line-height: 1.5;    
}
/* for h3 */
.third-heading{
    font-size: 1.5rem;
    line-height: 1;    
}
p{
    color: #8f8f8f;
}


/* containers for sections */

/***************** Sections ******************/
/***1st section title***/
#navigation{
    text-align: left;
}
/***2nd section features***/
#listgroup{
}
.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  
  .fw-semibold { font-weight: 600; }
  .lh-tight { line-height: 1.25; }
  

/***3rd section testimonials and press***/
#right_frame{
    text-align: left;
}


/***6th section footer***/
#footer{
}
/* #footer .sections-container vs #footer.sections-container */


/***@media query must place in the end of CSS file or after the the selectors you change***/
@media screen and (max-width: 860px) {
      
}