body{
    width:100%;
    margin: 0 auto;
}
#right{
    margin-left: 300px;
}
#frame_main,.header,.center{
    width:100%;
}
#frame_main,#right,#left{
    height: 600px;
}
#left{
    position:absolute;
    width: 300px;
    background-color: peachpuff;
}
.header{
    background-color: powderblue;
    height: 150px;
}
.center{
    margin: 0 auto;
}
li{
    list-style-type: none;
    padding: 15px;
}
